.container
  +header
  +errorDisplay
  .container-fluid
    +toolsList
  .container-fluid
    +testConfig
  .container-fluid
    with currentUser
      +nogApiKeys
  .container-fluid
    +upload
  .container-fluid
    +recentObjects
