.row
  .col-md-12
    h4 Test options
.row
  .col-md-2
    span user:
      if currentUser
        span #{currentUser.username}
      else
        span none
  .col-md-8
    button.btn.btn-default.login-user-button Login user
    button.btn.btn-default.login-guest-button Login guest
    button.btn.btn-default.login-admin-button Login admin
    button.btn.btn-default.logout-button Logout
