.container
  +header
  .container-fluid
    +testConfig
  .container-fluid
    +accessToggles

  hr

  .row
    .col-md-6.col-md-offset-3
      .container-fluid
        +Template.dynamic(template=main)
