.row
  .col-md-12
    h4 Tools
    ul
      li
        a(href='/tools/bin/test-upload-py') public/tools/bin/test-upload-py
        = ':'
        | Python script that demonstrates how to upload data.
      li
        a(href='/tools/bin/test-upload') public/tools/bin/test-upload
        = ':'
        | Bash script that demonstrates how to upload data.
